*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   justify-content: center;
   display: flex;
   background-color: #eef2ff;
   font-family: Arial, sans-serif;
.title{
    width: 90%;
    max-width: 700px;
    margin-top: 30px;
}   
h1{
    margin-bottom: 10px;
    text-align: center;
}
.title p{
    text-align: center;
    color: gray;
}
.input-place{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.input-place input{
    flex 1;
    border: 1px solid #ccc;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    font-size: 16px;
}
.input-place button{
    background-color: blue;
    color: white;
    padding: 15px 25px ;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.input-place button:hover{
 background-color: rgb(72, 72, 235);
}
.card-container{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
.card{
    flex 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    padding-right: 120px;
}
.card p{
    text-align: center;
}
.status {
    margin-top: 30px;
}
.status-task{
    padding: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    border-radius: 10px;
}
.status-task input{
    width: 20px;
    height: 20px;
}
.completed {
 text-decoration: line-through;
 color: grey;
}
